{% load recipes_extras %}
<div class="card-user" data-author="{{ author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ author }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in author.recipes.all|slice:':3' %}
                <li class="card-user__item">
                    <div class="recipe">
                        {% load thumbnail %}
                        {% thumbnail recipe.image "72x72" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}"
                                 alt="{{ im.title }}"
                                 class="recipe__image">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span
                                class="icon-time"></span> {{ recipe.time_cooking }}
                            мин.</p>
                    </div>
                </li>
            {% endfor %}
            <li class="card-user__item">
                <a href="{% url 'recipes_by_author' author.id %}"
                   class="card-user__link link">Еще {{ author.recipes.all|slice:'3:'|length }}
                    {% declination author.recipes.all|slice:'3:'|length %} </a>
            </li>
        </ul>
    </div>
    <div class="card-user__footer">
        {% csrf_token %}
        <button class="button button_style_light-blue button_size_auto"
                name="subscribe" onClick="refreshPage()">Отписаться
        </button>
    </div>
</div>

