{% csrf_token %}
<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "364x240" crop="center" upscale=True as im %}
        <a href="{% url 'recipe_detail' recipe.pk %}" class="link"
           target="_blank"><img
                src="{{ im.url }}" alt="{{ recipe.title }}"
                class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe_detail' recipe.pk %}"
           target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span
                        class="badge badge_style_{{ tag.checkbox_style }}">{{ tag.title }}</span>
                </li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span
                    class="icon-time"></span> {{ recipe.time_cooking }}
            </p>
            <p class="card__text"><span class="icon-user"></span> <a
                    href="{% url 'recipes_by_author' recipe.author.id %}"
                    style="color: black">{{ recipe.author }} </a>
            </p>
        </div>
    </div>
    <div class="card__footer">
        {% if request.user.is_authenticated is False %}
            <a href="{% url 'login' %}">
                <button class="button button_style_light-blue" name="#">
                    <span class="icon-plus button__icon"></span>
                    Добавить в покупки
                </button>
            </a>
        {% else %}
            {% if recipe.id in shoplist %}
                <button class="button button_style_light-blue-outline"
                        name="purchases">
                    <span class="icon-check button__icon"></span>
                    Рецепт добавлен
                </button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases"
                        data-out><span class="icon-plus button__icon"></span>
                    Добавить в покупки
                </button>
            {% endif %}
        {% endif %}
        {% if recipe.id in favorites %}
            <button class="button button_style_none" name="favorites"><span
                    class="icon-favorite icon-favorite_active"></span>
            </button>
        {% else %}
            <button class="button button_style_none" name="favorites"
                    data-out><span class="icon-favorite"></span>
            </button>
        {% endif %}
    </div>
</div>

