{% extends 'base.html' %}
{% block title %} Пароль изменён {% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block"> Пароль изменён </p>
        <div class="custom-button-block">
            <li class="nav__item"><a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a></li>
        </div>
    </div>
{% endblock %}
