{% extends "base.html" %}
{% load static %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %} ">
{% endblock %}

{% block header %}
    <div class="main__header">
        <h1 class="main__title">{{ flatpage.title|capfirst }} </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ flatpage.content }}
    </div>
{% endblock %}


<ul>
    <li>Python</li>
    <li>Django</li>
    <li>Django REST</li>
    <li>Docker</li>
</ul>
