{% extends 'base.html' %}
{% load static %}
{% block title %} Рецепты {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block header %}
    <div class="main__header">
        <h1 class="main__title">Создание рецепта </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">Название
                    рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="{{ form.title.id_for_label }}"
                           name="title"
                           class="form__input" {% if form.is_bound %}
                           value="{{ form.title.value }}" {% endif %} >
                    {% if form.errors %}
                        {% for error in form.title.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag_choice, tag in form.tags.field.choices %}
                            <div class="tags__item">
                                <input type="checkbox"
                                       name="{{ tag_choice.instance.slug }}"
                                       id="id_{{ tag_choice.instance.slug }}"
                                       class="tags__checkbox tags__checkbox_style_{{ tag_choice.instance.checkbox_style }}"
                                        {% if tag_choice.instance.id in form.tags.value %}
                                       checked
                                        {% endif %}
                                >
                                <label for="id_{{ tag_choice.instance.slug }}"
                                       class="tags__label">{{ tag_choice.instance }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if form.errors %}
                        {% for error in form.tags.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form__group">
                <label for="nameIngredient"
                       class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient"
                                   class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input"
                               min="1">
                        <label for="cantidad" class="form__label"
                               id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container"></div>
                    <span class="form__ingredient-link"
                          id="addIng">Добавить ингредиент</span>
                    {% if form.errors %}
                        {% for error in form.ingridients.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.time_cooking.id_for_label }}"
                       class="form__label">Время
                    приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text"
                           id="{{ form.time_cooking.id_for_label }}"
                           name="time_cooking"
                           class="form__input" {% if form.is_bound %}
                           value="{{ form.time_cooking.value }}" {% endif %}>
                    <label for="id_time" class="form__label">минут</label>
                    {% if form.errors %}
                        {% for error in form.time_cooking.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.description.id_for_label }}"
                       class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description"
                              id="{{ form.description.id_for_label }}" rows="8"
                              class="form__textarea">{% if form.is_bound %}{{ form.description.value }}{% endif %}</textarea>
                    {% if form.errors %}
                        {% for error in form.description.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    <input type="file" name="image"
                           id="{{ form.image.id_for_label }}">
                    {% if form.errors %}
                        {% for error in form.image.errors %}
                            <span class="form__error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Создать рецепт
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'formRecipe.js' %}"></script>
{% endblock %}

